.wrapper{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 10px;
}
.weeknameClass1{

}
.weeknameClass2{

}
.weeknameClass3{

}
.weeknameClass4{

}
.weeknameClass5{

}
.weeknameClass6{

}
.weeknameClass7{

}
